<h1 style="color: blue;"> STUPID COACH</h1>

<h3>You told me : <em><%= params[:question] %></em></h3>
<p>And i say : <b><%= @answer %></b></p>
<div class="btn"><%= link_to "Ask me a question", ask_path %></div>
